/* PC */
@media screen and (min-width: 992px) {
    .mobile-header{
        display: none;
    }

    .show-on-mobile {
        display: none;
    }
}

/* Tablet & mobile */
@media screen and (max-width: 991.98px) {
    .navbar ul {
        display: none !important;
    }

    .navbar {
        position: relative;
    }

    .navbar .logo {
        position: absolute;
        inset: 50% 50%;
        transform: translate(-50%, -50%);
    }

    .toggle-menu svg {
        width: 24px;
        color: #666;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0 0 0 / 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: .5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: .5s ease;
        padding: 60px;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer a {
        display: block;
        padding: 14px 0;
        color: #333;
        font-weight: 500;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .separate {
        border-top: 1.5px solid  #ebebeb;
    }

    .hero-img {
        display: none;
    }

    .hero-wrap .info {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .hero-wrap .desc {
        width: 80%;
        margin: 30px auto auto;
    }
    
    .clients .images {
        flex-wrap: wrap;
        justify-content: center;
    }

    .guide-item {
        margin: 0;
        flex: 1;
    }

    .featured .list {
        grid-template-columns: 1fr 1fr;
    }

    .stat .row {
        flex-direction: column;
    }

    .stat .img-block, .stat .info {
        width: 100%;
    }

    .stat .img-block {
        margin-top: 80px;
    }

    .stat .info {
        padding: 0;
        order: -1;
    }

    .stat .info .sub-title {
        width: 70%;
    }

    .stat .info .desc {
        width: 100%;
    }

    .stat .row-qty {
        flex-direction: row;
    }

    .stat .qty-item .qty {
        font-size: 5rem;
    }

    .stat .qty-item .qty-desc {
        font-size: 1.5rem;  
    }

    .subscription .body .image {
        display: none;
    }

    .footer .row-top {
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 80px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .hide-on-mobile {
        display: none;
    }

    .menu-drawer {
        padding: 40px;
        inset: 0 25% 0 0;
    }

    .navbar .actions {
        display: none;
    }

    .hero-wrap {
        height: calc(100vh - 80px);
    }

    .hero-wrap .title {
        font-size: 5.2rem;
        margin-top: 20px;
    }

    .hero-wrap .desc {
        width: 100%;
    }

    .clients .images {
        row-gap: 20px;
    }

    .list-guide {
        flex-direction: column;
        row-gap: 60px;
    }

    .guide-cta {
        margin-top: 60px;
    }

    .featured .link {
        display: none;
    }

    .featured .list {
        grid-template-columns: 1fr;
    }

    .featured .view-all {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .stat .info .sub-title {
        width: 100%;
    }

    .stat .img-block .image {
        width: 100%;
    }

    .stat_trend {
        top: 0;
        left: 20px;
    }

    .stat .row-qty {
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }

    .subscription .info {
        padding: 32px;
    }

    .subscription .body {
        height: auto;
        padding: 0;
    }

    .footer .row-top {
        grid-template-columns: 1fr;
    }

    .footer .row-bottom {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 24px;
    }
}